body{
    grid-template-columns: 5px auto 5px;
    grid-template-rows: 40px auto;

    background-image: url("Background/background-mobil-scroll.png");
}
.navigation{
    grid-template-columns: 0 auto 0;
}
.icons{
    justify-content: space-evenly;
}
.img1, .img2, .img3, .img4{
    border-radius: 50px;
    transform: scale(0.9);
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover{
    transform: scale(1.1);
}

.main{
    grid-template-columns: 65px auto 3px;
    grid-template-rows: 10px auto auto auto auto auto auto auto auto auto auto 10px;
    grid-template-areas: 
    ". . ."
    "E F ."
    "E J ."
    "E G ."
    "E K ."
    "E H ."
    "E L ."
    "E I ."
    "E M ."
    "E N ."
    "E O ."
    ". . .";
}
.E{
    position: fixed;
    grid-area: E;
    display: grid;
    grid-template-rows: auto, auto, auto, auto, auto;

    grid-template-areas:
    "M-m"
    "Z-m"
    "Ž-m"
    "Č-m"
    "H-m";
    margin-top:40px;
}
.list{
    font-size: 10pt;
    padding-left: 5px;
}
#M, #Z, #Ž, #Č, #H{
    display: none;
}
#M-m, #Z-m, #Ž-m, #Č-m, #H-m{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(245,251,239,0.5);
    border: 2px solid rgba(36,35,37,0.8);
    border-radius: 15px;
    
    font-size: 22px;

    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    transition: transform 0.5s, background-color 0.5s;
}
#M-m:active, #Z-m:active, #Ž-m:active, #Č-m:active, #H-m:active{
    transform: scale(1.2);
    background-color: rgba(245,251,239,0.7);
}

